body {
    margin: 0;
}

.bg-img {
    /* The image used */
    background-image: url("assets/St-background.jpeg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    /* margin: 20px; */
    width: auto;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;

}

/* The navbar */
.topnav {
    overflow: hidden;
    width: 100vw;
    height: 75px;
    background-color: #333;
}


/* Navbar links */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* logo link and styles*/
.logo {
    width: 10%;
    position: absolute;
    top: 2px;
    left: 15px;
    border-radius: 50%;
    z-index: 10;
    ;
}

/* main page description and pictures container*/
.desnpic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 30px;
}

.desnpic>* {
    width: 25%;
}


.janeway,
.sato,
.sevenof9 {
    width: 100%;
}

.desnpic div {
    width: 30%;

}